App/*.o
App/Enclave_u.c
App/Enclave_u.h
Enclave/*.o
Enclave/Enclave_t.c
Enclave/Enclave_t.h
Enclave/gperftools/gperftools-2.5/src/*.o
Enclave/gperftools/gperftools-2.5/src/base/*.o
client/load
client/run
app
libenclave.signed.so
libenclave.so
result.txt
